body {
background: rgb(238,174,202);
background: linear-gradient(51deg, rgba(238,174,202,1) 0%, rgba(148,216,233,1) 100%);}

h1 {
  color: #55afab;
  font-style: italic;
}
div{

    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,216,233,1) 100%);
}

#content {
  margin: 3rem auto;
  width: 50%;
}
#content div {
  padding: 10px;
}
#title {
  margin-left: 5rem;
}
.heading {
  color: #e99494;
  background-color: #334e67;
  font-weight: bold;
  border-radius: 1rem;
}
.info {
  display: inline-block;
  padding: 5px;
  text-decoration: underline;
}
.info > span {
  color: brown;
  font-weight: bold;
}
.Afiyet {
  font-size: 1.5rem;
  float: right;
  margin-right: 15rem;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
}
@media (max-width:1100px) {
  .Afiyet {
    margin-right: 4rem;
  }
  #title {
    margin-left: 1rem;
  }
}